@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Nunito', 'Poppins', 'Baloo 2', system-ui, sans-serif;
    overflow-x: hidden;
  }
}

